@import "tailwindcss/base";
@import "tailwindcss/components";

// All your global css should go here
@import "./layout.pcss";

@import "tailwindcss/utilities";
// Importing screens is optional,
// if you skip it - responsive css will be added at the bottom
@import "tailwindcss/screens";

